input[ type="checkbox"]{
    margin-left: 20px;
}
h4{
    color: #7BC143;
    font-size:1.2em;
}
#fechaDeEntrada,
input.selectorDeFecha{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color:rgba(245, 240, 240, 0.00);
    border-radius: 0px;
    background-image:url('../Images/imagenes_OET/DatePicker.gif');
    height:18px;
    width: 21px;
}
li.itemFormulario{
    width: 30%;
    padding: 2px;
    display:inline-block
}
ul{
      list-style-type: none;
      display:inline-block;
}
div:first-of-type{
    padding:25px;
}
div:first-of-type>input{
    width:100px;
}