input[ type="checkbox"]{
}
h4{
    color: #7BC143;
    font-size:1.2em;
}
#fechaDeEntrada,
input.selectorDeFecha{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color:rgba(245, 240, 240, 0.00);
    border-radius: 0px;
    background-image:url('../Images/imagenes_OET/DatePicker.gif');
    height:18px;
    width: 21px;
}
li.itemFormulario{
    width: 30%;
    padding: 2px;
    display:none
}

ul{
      list-style-type: none;
      display:inline-block;
}
ContentTemplate>div:first-of-type{
    padding:25px;
}
div:first-of-type>input{
    width:110px;
}
#ContenedorManejoDeHorario{
    margin-left:5%;
}

ContentTemplate{
    margin-left:5%;
}
#ContenedorManejoDeHorario>input{
    float:right;
    margin-right: 25px;
}
.listaformulario{
    width:80%;
    height:10%;
    display:inline-block;
    color:#000000;

}
.itemFormulario{
    width: 30%;
    display:inline-block;
    color:#000000;
}
#ContenedorManejoDeHorario>div>*{
    padding: 2px;
}

section>div>input:disabled:hover:after{
    content: "No se puede cancelar comidas consumidas";
    background-color: #FDBB30;
    padding: 5px;
    color: #000000;
    border: 1px solid #F26631;
}